/0
/1
/2
/3
/4
/5
/6
/7
/8
/9
/10
/11
/12
/13
/14
/15
/git_tutorial
/install
/Kotlin
/projects
/RolePlayingGame
/tests
/Android_конспект_Синхронизация_потоков._Потокобезопасные_коллекции.pdf
/Java Collection.jpg
/start_android.bat
/start_android.bat - Shortcut.lnk
/Конспект__Стандартные_библиотеки___Андроид-разработчик_.pdf
/AndroidStudio/18
/AndroidStudio/19
/AndroidStudio/20
/AndroidStudio/21
/AndroidStudio/22
/AndroidStudio/AndroidDevCourse
/AndroidStudio/images
/AndroidStudio/ViewPager2
/AndroidStudio/FilmFinder/.gitignore
/AndroidStudio/FilmFinder/app/.gitignore
/AndroidStudio/FilmFinder/app/build
/AndroidStudio/FilmFinder/.idea
/AndroidStudio/FilmFinder/.gradle/7.0.2/executionHistory
/AndroidStudio/FilmFinder/.gradle/7.0.2/fileHashes/fileHashes.bin
/AndroidStudio/FilmFinder/.gradle/7.0.2/fileHashes/fileHashes.lock
/AndroidStudio/FilmFinder/.gradle/7.0.2/javaCompile/javaCompile.lock
/AndroidStudio/FilmFinder/.gradle/buildOutputCleanup