/0
/1
/2
/3
/4
/5
/6
/7
/8
/9
/10
/11
/12
/13
/14
/15
/git_tutorial
/install
/Kotlin
/projects
/RolePlayingGame
/tests
/Android_конспект_Синхронизация_потоков._Потокобезопасные_коллекции.pdf
/.gitignore.txt
/Java Collection.jpg
/start_android.bat
/start_android.bat - Shortcut.lnk
/Конспект__Стандартные_библиотеки___Андроид-разработчик_.pdf
/AndroidStudio/18
/AndroidStudio/19
/AndroidStudio/20
/AndroidStudio/21
/AndroidStudio/22
/AndroidStudio/23
/AndroidStudio/24
/AndroidStudio/25
/AndroidStudio/26
/AndroidStudio/27
/AndroidStudio/28
/AndroidStudio/29
/AndroidStudio/30
/AndroidStudio/31
/AndroidStudio/32
/AndroidStudio/33
/AndroidStudio/34
/AndroidStudio/35
/AndroidStudio/36
/AndroidStudio/37
/AndroidStudio/AndroidDevCourse
/AndroidStudio/images
/AndroidStudio/ViewPager2
/AndroidStudio/FilmFinder/.gitignore
/AndroidStudio/FilmFinder/app/.gitignore
/AndroidStudio/FilmFinder/app/build
/AndroidStudio/FilmFinder/build.gradle
/AndroidStudio/FilmFinder/.idea
/AndroidStudio/FilmFinder/.gradle*


    
    
    



/materials*
/AndroidStudio/FilmFinder/.gradle/buildOutputCleanup